/*Font*/
@font-face{
	font-family: Lato;
	src: url("../font/Lato-Regular.ttf");
}

@font-face{
  font-family: LatoThin;
  src: url("../font/Lato-Thin.ttf");
}

@font-face{
	font-family: Montserrat;
	src: url("../font/Montserrat-Regular.otf");
}

@font-face{
	font-family: MontserratBold;
	src: url("../font/Montserrat-Bold.otf");
}

/*Content*/
html{
	height: 100%;
}

body{
	font-family: Montserrat!important;
	font-size: 0.75rem;
	margin: 0;
	text-align: left;
	color: #fff!important;
	height: 100%;
}

body:before {
    position: absolute;
    content: "";
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out; 
}

body.show-sidebar:before {
    opacity: 1;
    visibility: visible; 
}

/*Sidebar*/
aside {
	height: 100vh;
	min-height: 580px; 
}

aside {
	width: 200px;
	left: 0;
	z-index: 1001;
	position: fixed;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	background: rgba(0.01,0.01,0,0.5);
	-webkit-transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
	transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
	transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
	transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1), 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1); }
	.show-sidebar aside {
  	-webkit-transform: translateX(0%);
  	-ms-transform: translateX(0%);
  	transform: translateX(0%); 
}

aside .toggle {
	padding-left: 30px;
	padding-top: 30px;
	position: absolute;
	right: 0;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	tansform: translateX(100%); 
}

.show-sidebar aside .toggle .burger:before, .show-sidebar aside .toggle .burger span, .show-sidebar aside .toggle .burger:after {
    background: #fff; }

.show-sidebar aside {
	-webkit-box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 10px 0 30px 0 rgba(0, 0, 0, 0.1); 
}
  
aside .side-inner {
    padding: 30px 0;
    height: 100vh;
}

aside .side-inner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #efefef; 
}

aside .side-inner .nav-menu ul, aside .side-inner .nav-menu ul li {
    padding: 0;
    margin: 0px;
    list-style: none; 
}

aside .side-inner .nav-menu ul li a {
    display: block;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    position: relative;
    -webkit-transition: .3s padding-left ease;
    -o-transition: .3s padding-left ease;
    transition: .3s padding-left ease; 
    text-decoration: none;
}

aside .side-inner .nav-menu ul li a:before {
    content: "";
    position: absolute;
    left: 0;
    top: .75rem;
    bottom: 0;
    width: 0px;
    height: 20px;
    background-color: #ff7315;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s opacity ease, .3s visibility ease, .3s width ease;
    -o-transition: .3s opacity ease, .3s visibility ease, .3s width ease;
    transition: .3s opacity ease, .3s visibility ease, .3s width ease; 
}

aside .side-inner .nav-menu ul li a:active, aside .side-inner .nav-menu ul li a:focus, aside .side-inner .nav-menu ul li a:hover {
	outline: none; 
}

aside .side-inner .nav-menu ul li a:hover {
    background: #2740ce;
    color: #fff;
}

aside .side-inner .nav-menu ul li a:hover:before {
    width: 4px;
    opacity: 1;
    visibility: visible; 
}

aside .side-inner .nav-menu ul li.active a {
    background: #2740ce;
    color: #fff; 
}
      
aside .side-inner .nav-menu ul li.active a:before {
    opacity: 1;
    visibility: visible;
    width: 4px; 
}

/* Burger */
.burger {
  	width: 28px;
  	height: 32px;
  	cursor: pointer;
  	position: relative;
  	z-index: 99;
  	float: right; 
}

.burger:before, .burger span, .burger:after {
  	width: 90%;
  	height: 2px;
  	display: block;
  	background: #fff;
  	border-radius: 2px;
  	position: absolute;
  	opacity: 1; 
}

.burger:before, .burger:after {
  	-webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  	transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  	-o-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  	transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  	transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
  	-webkit-transition: top 0.35s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.35s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.35s cubic-bezier(0.23, 1, 0.32, 1), background-color 1.15s cubic-bezier(0.86, 0, 0.07, 1);
  	content: ""; }

.burger:before {
  	top: 4px; 
}

.burger span {
  	top: 15px; 
}

.burger:after {
  	top: 26px; 
}

/* Hover */
.burger:hover:before {
  	top: 7px; }

.burger:hover:after {
  	top: 23px; }

/* Click */
.burger.active span {
  	opacity: 0; 
}

.burger.active:before, .burger.active:after {
  	top: 40%; 
}

.burger.active:before {
  	-webkit-transform: rotate(45deg);
  	-moz-transform: rotate(45deg);
  	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
  /*for IE*/ 
}

.burger.active:after {
  	-webkit-transform: rotate(-45deg);
  	-moz-transform: rotate(-45deg);
  	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-5);
  /*for IE*/ 
}

.burger:focus {
  	outline: none; 
}

/*Head of main content*/
.head{
  position: absolute!important;
  right:0;
  margin: 1.25rem;
}

/*Main*/
.main-content{
	height: 100%;
	position: relative;
}

.main, .main2{
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.main{
	background-image: url("../background/draw_background_first.png");
  padding: calc(5%) calc(15%);
}

.main-head{
  margin-bottom: 2.5rem!important;
}
.main-body{
	height: 60%;
  overflow: hidden!important;
}
.main-footer{
  padding: 1rem;
	height: 10%;
}

.main-head h1{
	margin: auto;
}

.main2{
  background-image: url("../background/draw_background_process.png");
  padding: calc(3%) calc(15%);
}

/*Line title*/
.line-title{
	border:none;
	height: 1rem;
	display: block;
	background-image: url("../image/img_line_title.png");
	background-repeat: no-repeat;
}

/*Border*/
.draw-border{
  position: absolute!important; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  /*width:450px;*/
}

/*Button*/
.draw{
	/*background-image: url("../image/img_draw_button.png");
	background-size: cover;*/
	height: 100%;
	width: auto;
	cursor: pointer;
	-webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; 
}

.draw:hover{
	transform: scale(0.92);
}

/*Select*/
.draw-select{
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 1rem;
  font-family: MontserratBold;
  width: 100%;
  padding: 5px 0;
  white-space: inherit;
  height: 50px;
  outline: none;
}

option, option:before{
  background: transparent!important;
  color: #000;
  padding: 5px 0;
  border: 0;
  margin: 5px;
}

select.draw-select option:hover{
  box-shadow: 0 0 10px 100px red inset;
}

/*Text*/
h1, h2, h3, h4, h5, h6, 
.bold{
	font-family: MontserratBold!important;
}

.text-lato{
  font-family: Lato!important;
}

.text-lato-thin{
  font-family: LatoThin!important;
}


/*Button*/
.draw-btn{
  text-align: center;
  background-color: #f8514c;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-family: MontserratBold;
  padding:.4rem .9rem;
  border: none;
  outline: none;
  border-radius:.4rem;
  box-shadow: 0 7px 10px 0 rgba(227,30,30,0.75);
  -webkit-box-shadow: 0 7px 10px 0 rgba(227,30,30,0.75);
  -moz-box-shadow: 0 7px 10px 0 rgba(227,30,30,0.75);
  cursor: pointer;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; 
}

.draw-btn-lg{
  padding: .8rem 5rem;
  font-size: 1.25rem;
}

.draw-btn:hover{
  transform: scale(.95);
}


/*Aspect Ratio*/
@media screen and (max-aspect-ratio: 16/9){
    .wrap-container ul {
      margin-top: 15%!important; 
    }
    .wrap-container ul li:last-of-type { 
      margin-bottom: 10.5%!important; 
    }
}

@media screen and (max-aspect-ratio: 16/10){
  	.main{
  		padding: calc(5%) calc(20%);
  	}
    .wrap-container ul {
      margin-top: 12%!important; 
    }
    .wrap-container ul li:last-of-type { 
      margin-bottom: 31.5%!important; 
    }
}

@media screen and (max-aspect-ratio: 4/3){
    .wrap-container ul {
      margin-top: 22.5%!important; 
    }
    .wrap-container ul li:last-of-type { 
      margin-bottom: 20.5%!important; 
    }
}

.wrap-container {
  position: relative;
  max-height: 250px;
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow: auto;
  padding-right: 20px;
  mask: url(#masking);
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, black), color-stop(1, transparent));
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.wrap-container::-webkit-scrollbar { 
  width: 0 !important;
  display: none; 
}

.wrap-container ul {
  list-style: none;
  position: relative;
  transition: transform .3s;
  margin-top: 11%!important; 
}

.wrap-container ul, .wrap-container ul li {
  margin: 0;
  padding: 0;
  text-align: center;
}

.wrap-container ul li {
  height: 50px;
  line-height: 50px;
  transition: transform .3s;
  overflow: hidden;
}

.wrap-container ul li:last-of-type { margin-bottom: 10%!important; }

.wrap-container ul li.active .item { transform: scale(1.9); }
.wrap-container ul li.semi .item { transform: scale(1.4); }

.wrap-container ul li .item {
  position: relative;
  transition: transform 200ms;
  display: inline-block;
}